server:
  port: 8080

spring:
  application:
    name: gjenlevende-bs-sak

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AZURE_OPENID_CONFIG_ISSUER:https://login.microsoftonline.com/${azure.app.tenant.id}/v2.0}
          audiences: ${AZURE_APP_CLIENT_ID:local-client-id}

  # Flyway
  flyway:
    enabled: true
    locations: classpath:db/migration

  # DB konfig
  datasource:
    url: ${DB_JDBC_URL}
    hikari:
        maximum-pool-size: 20
        connection-test-query: "select 1"
        max-lifetime: 90000
        minimum-idle: 1

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,prometheus
      base-path: /internal

# Gjenlevende-bs-infotrygd konfigurasjon
gjenlevende-bs-infotrygd:
  url: https://gjenlevende-bs-infotrygd.dev-fss-pub.nais.io
  audience: api://dev-fss.etterlatte.gjenlevende-bs-infotrygd/.default

# Azure AD konfigurasjon for Swagger OAuth2
azure:
  app:
    tenant:
      id: ${AZURE_APP_TENANT_ID:navq.onmicrosoft.com}
    client:
      id: ${AZURE_APP_CLIENT_ID:local-client-id}
      registration:
          pdl:
              resource-url: ${PDL_URL}
              token-endpoint-url: ${AZUREAD_TOKEN_ENDPOINT_URL}
              grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
              scope: ${PDL_SCOPE}
              authentication:
                  client-id: ${AZURE_APP_CLIENT_ID}
                  client-secret: ${AZURE_APP_CLIENT_SECRET}
                  client-auth-method: client_secret_basic
          pdl-clientcredentials:
              resource-url: ${PDL_URL}
              token-endpoint-url: ${AZUREAD_TOKEN_ENDPOINT_URL}
              grant-type: client_credentials
              scope: ${PDL_SCOPE}
              authentication:
                  client-secret: ${AZURE_APP_CLIENT_SECRET}

AZUREAD_TOKEN_ENDPOINT_URL: https://login.microsoftonline.com/${azure.app.tenant.id}/oauth2/v2.0/token
AUTHORIZATION_URL: https://login.microsoftonline.com/${azure.app.tenant.id}/oauth2/v2.0/authorize
API_SCOPE: api://${azure.app.client.id}/.default

# Swagger/OpenAPI konfigurasjon
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    disable-swagger-default-url: true
    persist-authorization: true
    oauth:
      use-pkce-with-authorization-code-grant: true
      client-id: ${azure.app.client.id}
      scope-separator: ","

prosessering.rolle: "928636f4-fd0d-4149-978e-a6fb68bb19de" # 0000-GA-STDAPPS 928636f4-fd0d-4149-978e-a6fb68bb19de

prosessering:
    continuousRunning.enabled: true
    fixedDelayString:
        in:
            milliseconds: 15000
    delete:
        after:
            weeks: 16

# PDL
PDL_URL: https://pdl-api.dev-fss-pub.nais.io
PDL_SCOPE: api://dev-fss.pdl.pdl-api/.default
